---
http_interactions:
- request:
    method: get
    uri: https://api.postcodes.io/postcodes/BR13UH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gnu:
      - Michael J Blanchard
      Etag:
      - W/"343-acc2EgAWLXrofLkjtKmKVXNCRzg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":200,"result":{"postcode":"BR1 3UH","quality":1,"eastings":540629,"northings":169142,"country":"England","nhs_ha":"London","longitude":0.020377,"latitude":51.403879,"european_electoral_region":"London","primary_care_trust":"Bromley","region":"London","lsoa":"Bromley
        018B","msoa":"Bromley 018","incode":"3UH","outcode":"BR1","parliamentary_constituency":"Bromley
        and Chislehurst","admin_district":"Bromley","parish":"Bromley, unparished
        area","admin_county":null,"admin_ward":"Bromley Town","ced":null,"ccg":"NHS
        South East London","nuts":"Bromley","codes":{"admin_district":"E09000006","admin_county":"E99999999","admin_ward":"E05000109","parish":"E43000196","parliamentary_constituency":"E14000604","ccg":"E38000244","ccg_id":"72Q","ced":"E99999999","nuts":"TLI61","lsoa":"E01000675","msoa":"E02000144","lau2":"E09000006"}}}'
  recorded_at: Mon, 02 Aug 2021 00:13:24 GMT
recorded_with: VCR 6.0.0
